<h1>Play Tic Tac Toe with a friend</h1>
<div>
  <%= @game.row1[0] %>
  <%= @game.row1[1] %>
  <%= @game.row1[2] %>
</div>
<div>
  <%= @game.row2[0] %>
  <%= @game.row2[1] %>
  <%= @game.row2[2] %>
</div>
<div>
  <%= @game.row3[0] %>
  <%= @game.row3[1] %>
  <%= @game.row3[2] %>
</div>
