<div class="container text-xs-center">
  <br />
  <h1>2016 Presidential Election Tic Tac Toe!</h1>
  <% if @game.winner %>
    <br />
    <h1><%= @game.winner.upcase! %> HAS EMERGED VICTORIOUS! MURICA!</h1>
    <%= image_tag("#{@game.winner.downcase}.png") %>
    <div>
      <% if @game.winner.downcase == "trump" %>
        <%= link_to "Play Again", root_path, class: "btn btn-danger btn-lg" %>
      <% elsif @game.winner.downcase == "hillary" %>
        <%= link_to "Play Again", root_path, class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  <% elsif @game.grid.stalemate? %>
    <h1>Stalemate</h1>
    <%= image_tag("hillary.png") %>
    <%= image_tag("trump.png") %>
    <div>
      <%= link_to "Play Again", root_path, class: "btn btn-danger btn-lg" %>
    </div>
  <% else %>
    <%= render partial: "grid" %>
  <% end %>
  <%= console %>
</div>
